<div class="loto flex-grow" [ngClass]="{'loto--main': !showThirdTempl, 'loto--out': showtime && showThirdTempl}">
  <div class="loto__container flex-grow container" [class.jcc]="!showtime">
    <div class="loto__enter flex-grow" *ngIf="!showtime">
      <button class="showtime-btn" (click)="showContent()">Запустить игру</button>
    </div>
    <div class="loto__main" [ngClass]="{' flex-grow': showtime, 'jcfe': showtime && showThirdTempl}">
      <app-stoloto-game-field
        *ngIf="showtime && !showThirdTempl"
        [minLengthOfArray]="3"
        (submitted)="fieldsSelected($event)"
        (concatArrays)="getNumbers($event)">
      </app-stoloto-game-field>
      <app-stoloto-game-out
        *ngIf="showtime && showThirdTempl"
        [selectedNumbers]="listOfNumbers"
        (clearState)="clearState($event)">
      </app-stoloto-game-out>
    </div>
  </div>
</div>


